
.headercustom {
    position: absolute;
    width: 100%;
    height: 13%;
    left: 0;
    top: 0;
    /* background: #eaf2fd; */
    background: #ffffff;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
  }
  
  .navbar a {
    color: #4f5e70;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar a:hover {
    background-color: #ffffff;
    color: black;
  }
  

  .logo {
    width: 80px; /* Set the desired width */
    height: 80px; /* Maintain aspect ratio */
    margin-right: 15px;
    margin-left: 50px;
    margin-top: 65px;
    margin-bottom: 20px;
    border-radius: 20%;
  }
  
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the text horizontally */
    justify-content: center; /* Centers the text vertically */
    text-align: center;
}

.logo-title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 900px;
    margin-top: 45px;
    color: #4f5e70;
}

.logo-subtitle {
    font-size: 14px;
    margin-right: 895px;
    color: rgb(0, 0, 0);
}


  /* Responsive navbar: stack links vertically on small screens */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar a {
      padding: 10px;
    }
  }